{% extends 'base.html.twig' %}
{% block bodyclass %}
    <body class="single is-preload">
{% endblock %}

        {% block main %}
            <div id="main">

                <!-- Login -->
                <article class="post">
                    <header>
                        <div class="title">
                            <h2 style="text-align:center">Réinitialiser votre mot de passe</h2>
                        </div>
                        
                    </header>
                    <body>
                        <div class="row justify-content-center" style="padding-bottom: 5vh">
                                <div class="col-6">
                                    {% if(error is defined) %}
                                        <div class="alert alert-warning" role="alert">
                                            <div style="text-align: center">{{ error }}</div>
                                        </div>
                                    {% endif %}
                                    {% if(success is defined) %}
                                        <div class="alert alert-success" role="alert">
                                            <div style="text-align: center">{{ success }}</div>
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                        <div class="row justify-content-center"  style="padding-top:12vh;padding-bottom: 2vh">
                            <div class="col-4" >
                                <h3 style="text-align: center; margin-bottom: 4vh">Saisissez votre nouveau mot de passe</h3>
                                <form action="{{ path('changePwd') }}" method="post">
                                    <input type="password" class="form-control" required placeholder="Mot de passe" name="newPwd" style="margin: 2vh">
                                    {% if(token is defined) %}
                                        <input type="hidden" name="token" value="{{ token }}"/>
                                    {% endif %}
                                    <input type="password" class="form-control" required placeholder="Confirmer mot de passe" name="newPwd2" style="margin: 2vh">
                                    <div class="row justify-content-center">
                                        <div class="col-4">
                                            <button type="submit" >Envoyer</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        
                    </body>
                </article>

            </div> 
        {% endblock %}

{% block about %}{% endblock %}
