{% extends 'base.html.twig' %}
{% block bodyclass %}
    <body class="single is-preload">
{% endblock %}

        {% block main %}
            <div id="main">

                <!-- Login -->
                <article class="post">
                    <header>
                        <div class="title">
                            <h2 style="text-align:center">Réinitialiser votre mot de passe</h2>
                        </div>
                        
                    </header>
                    <body>
                        <div class="row justify-content-center" style="padding-bottom: 5vh">
                                <div class="col-6">
                                    {% if(error is defined) %}
                                        <div class="alert alert-warning" role="alert">
                                            <div style="text-align: center">{{ error }}</div>
                                        </div>
                                    {% endif %}
                                    {% if(success is defined) %}
                                        <div class="alert alert-success" role="alert">
                                            <div style="text-align: center">{{ success }}</div>
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                        <div class="row justify-content-center">
                            <div class="col-6 justify-content-center" >
                                <div class="loginForm">
                                    <form action="{{ path('initPassword') }}" method="post">
                                        <input type="email" required placeholder="adresse mail" name="usernameChange">
                                        <div class="row">
                                            <div class="col-4"></div>
                                            <div class="col-4" id="sendMail">
                                                <button type="submit">Envoyer</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </body>
                </article>

            </div> 
        {% endblock %}

{% block about %}{% endblock %}
