{% extends 'base.html.twig' %}

{% block main %}
   <div id="main">

        {% for article in articles %}
            {% include('/home/article.html.twig') %}
        {% endfor %}

        <ul class="actions pagination">
            {{ knp_pagination_render(articles) }}
        </ul>
    </div>
        
    {% include('/home/sidebar.html.twig') %}

{% endblock %}
