{% block post %}
    <li>
        <article>
            <header>
                <h3>"{{ quote.content }}"</h3>
                <time class="published" >{{ quote.reference}}</time>
                <time class="published" >Posté par {{ quote.user.surname}}</time>
            </header>
            <a class="image"><img src="images/upload/{{ quote.user.image }}" alt="" /></a>
        </article>
    </li>
{% endblock %}
